@model SalesWebMVC.Models.DTO.SellerEntityDTOResponse


@{
    ViewData["Tittle"] = "Delete";
}

<h2>@ViewData["Tittle"]</h2>


<h3> Are your sure you want to delete this?</h3>

<div>
    <h4> Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DsNome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DsNome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DsEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DsEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DhAniversario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DhAniversario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NrSalario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NrSalario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.DsNome)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-action="Index"> Back to List</a>
    </form>
</div>